/**THUMBNAILS**/

.thumbnail {
    text-align: center;
    margin: 10px;
    padding: 30px;
    border: 1px solid #e6e6e7;
}

.thumbnail img {
    max-width: 150px;
}

.thumbnail .description {
    color: #7f7f7f;
}

.thumbnail .price {
    font-weight: bold;
    font-size: 20px;
}